<div class="p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center gy-3">
            <h1 class="custom-color text-center text-uppercase fw-bolder">contact section</h1>
            <span class="icon-home text-center custom-color"><i class="fa-solid fa-star"></i></span>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
                <form class="p-5 formContact">
                <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="userName"></div>
                <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="userAge">
                </div>
                <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="userEmail">
                </div>
                <div class="mb-3">
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="userPassword">
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>

            </form>
        </div>
    </div>
</div>