<div class="p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center gy-3">
            <h1 class="custom-color text-center text-uppercase fw-bolder">portfolio component</h1>
            <span class="icon-home text-center custom-color"><i class="fa-solid fa-star"></i></span>
        </div>
    </div>

<div class="section-portfolio">
    <div class="container">
        <div class="row gy-5 mb-4 mt-4">
        <div class="col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="/images/poert1.png" alt="portfolio image" class="w-100 element">
        <div class="layer"> <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                 <img src="/images/poert1.png" alt="portfolio image" class="w-100">
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img src="/images/port2.png" alt="portfolio image" class="w-100">
        <div class="layer"> <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </button>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                 <img src="/images/port2.png" alt="portfolio image" class="w-100">
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <img src="/images/port3.png" alt="portfolio image" class="w-100">
        <div class="layer"> <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </button>

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                 <img src="/images/port3.png" alt="portfolio image" class="w-100">
        </div>
        </div>
        </div>
    </div>
        <div class="row gy-5">
        <div class="col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="/images/poert1.png" alt="portfolio image" class="w-100">
        <div class="layer"> <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                 <img src="/images/poert1.png" alt="portfolio image" class="w-100">
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img src="/images/port2.png" alt="portfolio image" class="w-100">
        <div class="layer"> <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </button>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                 <img src="/images/port2.png" alt="portfolio image" class="w-100">
        </div>
        </div>
        </div>
        <div class="col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <img src="/images/port3.png" alt="portfolio image" class="w-100">
        <div class="layer"> <i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </button>

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                 <img src="/images/port3.png" alt="portfolio image" class="w-100">
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>