<div class="section-home bgLightBlue vh-50 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center gy-3 ">
            <h1 class="text-white text-center text-uppercase fw-bolder">about component</h1>
            <span class="icon-home text-center text-white"><i class="fa-solid fa-star"></i></span>
           <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
           </div>
        </div>
    </div>
</div>