<div class="section-home bgLightBlue">
    <div class="container">
        <div class="row justify-content-center align-items-center gy-3">
            <img [src]="imageHome" [alt]="imageAlt" class="w-25">
            <h1 class="text-white text-center text-uppercase fw-bolder">start Framework</h1>
            <span class="icon-home text-center text-white"><i class="fa-solid fa-star"></i></span>
            <p class="text-white text-center">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>